<launch>



   <param name='agent_names' value='clara dario antonio francesco davide'/>
   <param name='agent_colors' value='blue green yellow magenta red'/>

   <param name='gain' value='0.2'/>
   <param name='alpha' value='0.4'/>
   <param name='desired_distance' value='1.0'/>



   <group ns='clara'>

    <param name='name' type='str' value='clara'/>
    <rosparam param='initial_position'>[1.0, 0.0]</rosparam>

    <node name='vehicle_simulator' pkg='circumnavigation_cloud' type='vehicle_simulator.py' output="screen"/>

    <node name='controller' pkg='circumnavigation_cloud' type='controller.py' output="screen"/>

    <node name='sensor_simulator' pkg='circumnavigation_cloud' type='sensor_simulator.py' output="screen"/>

   </group>



   <group ns='dario'>

    <param name='name' type='str' value='dario'/>
    <rosparam param='initial_position'>[2.0, 3.0]</rosparam>

    <node name='vehicle_simulator' pkg='circumnavigation_cloud' type='vehicle_simulator.py' output="screen"/>

    <node name='controller' pkg='circumnavigation_cloud' type='controller.py' output="screen"/>

    <node name='sensor_simulator' pkg='circumnavigation_cloud' type='sensor_simulator.py' output="screen"/>

   </group>


   <group ns='antonio'>

    <param name='name' type='str' value='antonio'/>
    <rosparam param='initial_position'>[-2.0, -2.0]</rosparam>

    <node name='vehicle_simulator' pkg='circumnavigation_cloud' type='vehicle_simulator.py' output="screen"/>

    <node name='controller' pkg='circumnavigation_cloud' type='controller.py' output="screen"/>

    <node name='sensor_simulator' pkg='circumnavigation_cloud' type='sensor_simulator.py' output="screen"/>

   </group>


   <group ns='francesco'>

    <param name='name' type='str' value='francesco'/>
    <rosparam param='initial_position'>[-1.0, -2.0]</rosparam>

    <node name='vehicle_simulator' pkg='circumnavigation_cloud' type='vehicle_simulator.py' output="screen"/>

    <node name='controller' pkg='circumnavigation_cloud' type='controller.py' output="screen"/>

    <node name='sensor_simulator' pkg='circumnavigation_cloud' type='sensor_simulator.py' output="screen"/>

   </group>


   <group ns='davide'>

    <param name='name' type='str' value='davide'/>
    <rosparam param='initial_position'>[2.0, 2.0]</rosparam>

    <node name='vehicle_simulator' pkg='circumnavigation_cloud' type='vehicle_simulator.py' output="screen"/>

    <node name='controller' pkg='circumnavigation_cloud' type='controller.py' output="screen"/>

    <node name='sensor_simulator' pkg='circumnavigation_cloud' type='sensor_simulator.py' output="screen"/>

   </group>


  <node name='cloud' pkg='circumnavigation_cloud' type='cloud.py' output="screen"/>

  <node name='target' pkg='circumnavigation_cloud' type='target.py' output="screen"/>

  <node name='plotter' pkg='circumnavigation_cloud' type='plotter.py' output="screen"/>

  <node name='monitor' pkg='circumnavigation_cloud' type='monitor.py' output="screen"/>

  <!-- <node name='record_betas' pkg='rosbag' type='record' args='record -o  $(find circumnavigation_cloud)/bags/real_betas /clara/real_beta /dario/real_beta /antonio/real_beta /francesco/real_beta'/> -->

  <node name='record_betas' pkg='rosbag' type='record' args='record -a -o $(find circumnavigation_cloud)/bags/all'/>


</launch>
