<launch>



   <param name='agent_names' value='clara dario antonio francesco'/>
   <param name='agent_colors' value='blue green yellow magenta'/>

   <param name='gain' value='0.3'/>
   <param name='alpha' value='1.0'/>
   <param name='desired_distance' value='1.0'/>



   <group ns='clara'>

    <param name='name' type='str' value='clara'/>
    <rosparam param='initial_position'>[1.0, 0.0]</rosparam>

    <node name='vehicle_simulator' pkg='circumnavigation_cloud' type='vehicle_simulator.py' output="screen"/>

    <node name='controller' pkg='circumnavigation_cloud' type='controller.py' output="screen"/>

    <node name='sensor_simulator' pkg='circumnavigation_cloud' type='sensor_simulator.py' output="screen"/>

   </group>



   <group ns='dario'>

    <param name='name' type='str' value='dario'/>
    <rosparam param='initial_position'>[2.0, 3.0]</rosparam>

    <node name='vehicle_simulator' pkg='circumnavigation_cloud' type='vehicle_simulator.py' output="screen"/>

    <node name='controller' pkg='circumnavigation_cloud' type='controller.py' output="screen"/>

    <node name='sensor_simulator' pkg='circumnavigation_cloud' type='sensor_simulator.py' output="screen"/>

   </group>


   <group ns='antonio'>

    <param name='name' type='str' value='antonio'/>
    <rosparam param='initial_position'>[-2.0, -1.0]</rosparam>

    <node name='vehicle_simulator' pkg='circumnavigation_cloud' type='vehicle_simulator.py' output="screen"/>

    <node name='controller' pkg='circumnavigation_cloud' type='controller.py' output="screen"/>

    <node name='sensor_simulator' pkg='circumnavigation_cloud' type='sensor_simulator.py' output="screen"/>

   </group>


   <group ns='francesco'>

    <param name='name' type='str' value='francesco'/>
    <rosparam param='initial_position'>[-2.0, -1.0]</rosparam>

    <node name='vehicle_simulator' pkg='circumnavigation_cloud' type='vehicle_simulator.py' output="screen"/>

    <node name='controller' pkg='circumnavigation_cloud' type='controller.py' output="screen"/>

    <node name='sensor_simulator' pkg='circumnavigation_cloud' type='sensor_simulator.py' output="screen"/>

   </group>


  <node name='cloud' pkg='circumnavigation_cloud' type='cloud.py' output="screen"/>

  <node name='target' pkg='circumnavigation_cloud' type='target.py' output="screen"/>

  <node name='plotter' pkg='circumnavigation_cloud' type='plotter.py' output="screen"/>



</launch>
